.popup {
  position: absolute;
  top: 20px;
  right: 0;
}

.wrapper {
  margin: 20px 8px;
  box-shadow: 0 0 7px 0 rgba(160, 160, 160, 0.63);
  background: var(--white-color);
}

.item_link {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 10px 6px;
  gap: 10px;

  &:hover {
    background-color: rgb(102 102 102 / 6%);;
  }
}

.icon {
  display: inline-flex;
}

.wrapper_item {
  display: flex;
  padding: 6px 10px;
  gap: 0 20px;

  &:hover {
    background-color: rgba(204, 204, 204, 0.05);
  }
}

.link {
  text-decoration: none;
}

.image {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;

  img {
    height: 100%;
  }
}

.item_title {
  color: var(--text-color);
}