.equidistant {
  display: flex;
  justify-content: space-between;
}

.text {
  color: var(--text-color);
  text-decoration: none;

  &:hover {
    color: var(--hue-accent);
  }
}

.inline {
  display: inline-block;
}

.wrapper {
  width: 100%;
}