.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.content {
  min-width: 100%;
  padding: 4px 10px;
}

.container_btn {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0 20px;
}

.form_search {
  position: relative;
  display: flex;
  gap: 0 10px;
  padding: 6px 6px;
  background-color: #F2F2F2;
  border-radius: 10px;
}

.wrapper_search {
  position: relative;
}

.container_input-search {
  transition: all 0.5s ease-in-out;

  input {
    background-color: var(--white-color);
  }
}

.form_background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F2F2F2;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
