.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  display: flex;
  transition: all 0.5s ease-in-out;
}

.content {
  min-width: 100%;
  padding: 4px 10px;
}

.container_btn {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 0 20px;
}

.form_search {
  position: relative;
  display: flex;
  gap: 0 10px;
}

.wrapper_search {
  position: relative;

  input {
    width: 0;
    padding: 0;
    border: none;
    transition: all 0.5s ease-in-out;

    &:focus {
      width: 100%;
      padding: 0 16px;
    }
  }

  &:hover .form_search {
    padding: 6px 6px;
    background-color: #F2F2F2;
    border-radius: 10px;
  }

  &:hover .form_background {
    display: block;
  }

  &:hover input {
    width: 100%;
    padding: 0 16px;
  }
}

.container_input-search {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.form_background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F2F2F2;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
  display: none;
}

.form_search:focus-within {
  padding: 6px 6px;
  background-color: #F2F2F2;
  border-radius: 10px;
}
