@import "normalize.css";
@font-face {
  font-family: 'Quicksand';
  src: url('../../assets/fonts/Quicksand-Medium.ttf');
};

:root {
  --primary-color: #0A74DA;
  --secondary-color: #F5DEB3;
  --accent-color: #FF9800;
  --white-color: #FFFFFF;
  --background-color:#F2F2F2;
  --black-color: #000000;
  --text-color: #333333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}