@import "normalize.css";
@font-face {
  font-family: 'Quicksand';
  src: url('../../assets/fonts/Quicksand-Medium.ttf');
};

:root {
  --primary-color: #0A74DA;
  --secondary-color: #F5DEB3;
  --accent-color: #FF9800;
  --white-color: #FFFFFF;
  --background-color:#F2F2F2;
  --black-color: #000000;
  --text-color: #333333;
  --hue-primary: #084BAA;
  --hue-accent: #FB8C00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

form {
  width: 100%;
}

.body {
  background-color: var(--background-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

input {
  background-color: var(--background-color);
  height: 50px;
  border-radius: 6px;
  padding: 0 16px;
  width: 100%;
  font-size: 1.4rem;
  color: var(--text-color);
}

label {
  display: block;
}

a[href] {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.loading {
  animation: spin 1s linear infinite;
}

//Animation
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}