.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px 16px;
  cursor: pointer;
}

.primary {
  background-color: var(--primary-color);
  color: var(--white-color);

  &:hover {
    background-color: var(--hue-primary);
  }
}

.large {
  width: 100%;
  padding: 12px 18px;
}

.small {
  padding: 0 0;
}

.icon {
  display: flex;
}

.icon + .title,
.title + .icon {
  margin-left: 6px;
}

.iconOnly {
  padding: 0 0;
}

.no_background {
  background-color: transparent;
}

.title {
  display: flex;
}

.rounded {
  min-width: 120px;
  border: 1.5px solid #e7e7e7;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;

  .title {
    color: var(--text-color);
  }

  &:hover {
    background-color: var(--text-color);

    .title {
      color: var(--white-color);
    }
  }
}