.navigation {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 500;

  a {
    text-decoration: underline;
    color: var(--primary-color);
    font-weight: 700;
  }

  a:hover {
    color: var(--hue-primary);
  }
}